[Unit]
Description=Allow to launch a Djoe Docker container if already built and name "heydjoe-container"
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a heydjoe-container
ExecStop=/usr/bin/docker stop -t 2 heydjoe-container

[Install]
WantedBy=default.target